{% include 'layout.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Solar panel</title>
	<script>
		alert("{{res}}");
	</script>
	

</head>
<body>


	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>IoT Based Solar Panel Monitoring System</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-4 text-center">
					<div class="single-product-item">
						<br>
						<h2>Bird detection</h2>
						<form method="post" action="/notifications">
							<!-- <input type="submit" name="submit1" value="check"></input> -->
							<button type="submit" name="submit" value="pir">Check</button>
						</form>
					</div>
				</div>
				<!-- <div class="col-lg-4 col-md-4 text-center">
					<div class="single-product-item">
						<br>
						<h2>Sunlight detection</h2>
						<form method="post" action="/pir">
							<input type="submit" name="submit1" value="check"></input>
						</form>
					</div>
				</div> -->
				<div class="col-lg-4 col-md-4 text-center">
					<div class="single-product-item">
						<br>
						<h2>Crack detection</h2>
						<!-- <form method="post" action="/crack">
							<input type="submit" name="submit1" value="check"></input>
						</form> -->
						<form action="/notifications" method="POST" enctype="multipart/form-data">
							<input type="file" name="file">
							<button type="submit" name="submit" value="crack">Check</button>
						</form>
						  
					</div>
				</div>
				<div class="col-lg-4 col-md-4 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item">
						<br>
						<h2>Dust detection</h2>
						<!-- <form method="post" action="/pir">
							<input type="submit" name="submit1" value="check"></input>
						</form> -->
						<form action="/notifications" method="POST" enctype="multipart/form-data">
							<input type="file" name="file">
							<button type="submit" name="submit" value="dust">Check</button>
						</form>
					</div>
				</div>
			</div>
			<br><br><br>
		</div>
	</div>
</body>
</html> 
