{% include 'layout.html' %}
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>Login</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<section class="vh-100">
        <br><br><br><br>
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <form method="post">
                    <h2>User</h2><br>
                    <div class="col-md-12">
                      <label class="form-label">Username</label>
                      <input type="text" title="Enter proper employee number" required name="email" class="form-control">
                    <br>
                    <div class="col-md-12">
                      <label class="form-label">Password</label>
                      <input type="password"
                      title="Must contain at least one  number, one uppercase, lowercase letter, and at least 8 or more characters" required name="password" class="form-control">
                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2">
                      <button type="submit" class="btn btn-primary btn-lg"
                        name="submit" value="faculty" style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                    </div>
    
                  </form>
            </div>
          </div>
        </div>
      </section>


